@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding: 5.625rem;
}
:root {
	--corPreta: #242424;
	--corVermelha: #a70b0b;
	--corBranca: #dbd8d8;
	--corCinza: #777474;
}
.navbar {
	background-color: black;
	a {
		color: white !important;
		text-decoration: none;
		font-size: 30px;
		font-size: 20px;
	}
}
.navbar-brand {
	&::first-letter {
		color: Red;
	}
}
#banner {
	background-image: url(.\Itn7UIM.gif);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}
h2,
h3,
h4 {
	font-size: 30px;
	font-family: 'Manrope', sans-serif;
}
h3 {
	font-size: 20px;
	margin-top: 10px;
	font-weight: bold;
}
section {
	& > h2 {
		margin: 60px 0px;
	}
}
.card-game {
	img {
		height: 21.875rem;
		width: 100%;
		object-fit: cover;
		transition: all .3s ease-in-out;
		&:hover {
			transform: scale(1.1);
		}
	}
}
.image-container {
	height: 21.875rem;
	width: 100%;
	border: 10px groove --corCinza;
	border-radius: 15px;
	overflow: hidden;
}
footer {
	padding: 20px;
	margin-top: 30px;
	background: red;
	color: white;
	width: calc 100%;
	h3 {
		color: white;
	}
	h5 {
		&::first-letter {
			color: black;
		}
	}
	strong {
		color: black;
	}
}
#adri1 {
	height: 40px;
	border-radius: 50%;
}
#adri2 {
	border-radius: 50%;
}
#button {
	margin-right: 5px;
}
